DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=localfix
POSTGRES_USER=localfix
POSTGRES_PASSWORD=localfix
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONNECT_TIMEOUT=5
GEOCODER_USER_AGENT=LocalFix student project
GEOCODER_TIMEOUT=5
